:root {
  --text-color: rgb(96, 95, 95);
  --accent-text-color: rgb(91, 74, 159);
  --accent-text-color-hover: rgb(54, 31, 149);
  --secondary-color: rgb(49, 37, 62);
  --font-family-main: "Montserrat", sans-serif;
  --header-height: 80px;
  --footer-height: 80px;
}