* {
  box-sizing: border-box;
  margin: 0;
}

.main {
  height: 100%;
  flex-grow: 1;
  padding-top: calc(2rem + var(--top-header-height));
  margin: 0 auto;
  margin-bottom: 4rem;
  width: 100%;
}

.wrapper {
  display: flex;
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}

@media only screen and (min-width: 741px) and (max-width: 1024px) {
  .main {
    min-height: calc(100vh - var(--footer-height) - var(--header-height-tab) - var(--top-header-height));
  }

  .wrapper {
    width: 740px;
  }
}

@media only screen and (max-width: 740px) {
  .main {
    min-height: calc(100vh - var(--footer-height) - var(--header-height-mob) - var(--top-header-height));
  }

  .wrapper {
    width: 360px;
  }
}
