.PopularTasks {
  width: 100%;
  padding-top: 4.5rem;
  display: flex;
  flex-direction: column;
  background: url('../../../shared/assets/images/BG-Image.jpg');
}

.tasksWrapper {
  flex-direction: column;
}

.popularTasksList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.5rem;
  margin-bottom: 4rem;
}
