.Container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 600px;
}

.inputWrapper {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  max-width: 600px;
  height: 46px;
}

.input {
  width: 588px;
}
