.Container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 600px;
}

.inputWrapper {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  max-width: 600px;
  height: 46px;
}

.input {
  width: 590px;
}

@media only screen and (min-width: 741px) and (max-width: 1024px) {
  .input {
    width: 344px;
  }
}

@media only screen and (max-width: 740px) {
  .input {
    width: 310px;
  }
}
