.header {
  width: 100%;
  height: var(--header-height);
  padding: 1rem;
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.header a.active {
  color: var(--links-color);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 2rem;
}