.header {
  width: 100%;
  height: var(--header-height);
  padding: 1rem;
  background-color: var(--bg-green-color);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.topHeader {
  width: 100%;
  height: var(--top-header-height);
  background-color: var(--bg-green-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.topHeaderWrapper {
  align-items: center;
}

.topHeaderNav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.headerMain {
  width: 588px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topHeader a {
  color: white;
  text-decoration: none;
}

.topHeaderNav a {
  margin-left: 1rem;
}

.title {
  font-size: var(--font-size-xl);
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.regular {
  font-size: var(--font-size-s);
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}

.randomItems {
  margin-top: 2rem;
  margin-right: auto;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.randomLink {
  margin-right: 1rem;
  height: 2.5rem;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid white;
  border-radius: 24px;
  text-align: center;
}

.randomLink a {
  color: var(--bg-green-color) !important;
  text-decoration: none;
}

@media only screen and (min-width: 741px) and (max-width: 1024px) {
  .header {
    height: var(--header-height-tab);
  }
  .headerMain {
    width: 530px;
  }
  .title {
    font-size: var(--font-size-xl-tab);
  }
  .regular {
    font-size: var(--font-size-s-tab);
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 740px) {
  .header {
    height: var(--header-height-mob);
  }
  .headerMain {
    width: 310px;
  }
  .title {
    font-size: var(--font-size-xl-mob);
  }
  .randomItems {
    display: none;
  }
  .regular {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
